{% extends 'base.html' %} 
{% load staticfiles %} 

{% block styles %}
<link rel="stylesheet" href="{% static 'login.css' %}"> 
{% endblock %} 

{% block content %}
<form method="POST" class="form-signin text-center">
	{% csrf_token %}
	<h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
	<label for="inputUsername" class="sr-only">Username</label>
	<input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required autofocus>
	<label for="inputPassword" class="sr-only">Password</label>
	<input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
	<label for="inputFirstName" class="sr-only">Firstname</label>
	<input type="text" id="inputFirstName" name="first-name" class="form-control" placeholder="Firstname" required>
	<label for="inputLastName" class="sr-only">Lastname</label>
	<input type="text" id="inputLastName" name="last-name" class="form-control" placeholder="Lastname" required>
	{% if error_message %}
	<div class="alert alert-danger" role="alert">{{ error_message }}</div>
	{% endif %}
	<div class="row">
		<div class="col">
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
		</div>
		<div class="col">
			<button class="btn btn-lg btn-success btn-block" type="submit">Go Back</button>
		</div>
	</div>
	<p class="mt-5 mb-3 text-muted">&copy; Group 2 - Shopping Manager</p>
</form>
{% endblock %}