{% extends 'base.html' %} 
{% load staticfiles %} 

{% block styles %}
<link rel="stylesheet" href="{% static 'dashboard.css' %}"> 
{% endblock %}

{% block content %}
{% if user.is_authenticated and user.is_active %}
<nav class="navbar navbar-dark bg-dark flex-md-nowrap p-0 shadow">
	<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Welcome, {{ user.username }}</a>
	<input class="form-control form-control-dark w-100" type="text" placeholder="Search transactions..." aria-label="Search">
	<ul class="navbar-nav px-3">
		<li class="nav-item text-nowrap">
			<a class="nav-link" href="{% url 'core:logout_view' %}">Sign out</a>
		</li>
	</ul>
</nav>
<div class="container-fluid">
	<div class="row">
		<main role="main" class="col-md-12 ml-sm-auto col-lg-12 pt-3 px-4">
			<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
				<h1 class="h2">Dashboard</h1>
				<div class="btn-toolbar mb-2 mb-md-0">
					<div class="btn-group mr-2">
						<button class="btn btn-sm btn-outline-secondary">Share</button>
						<button class="btn btn-sm btn-outline-secondary">Export</button>
					</div>
					<button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">
						<span data-feather="calendar"></span>
						{{ time_frame }}
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenu">
						<a class="dropdown-item" href="{% url 'core:dashboard_view' 'last-week'%}">Last week</a>
						<a class="dropdown-item" href="{% url 'core:dashboard_view' 'last-month'%}">Last month</a>
						<a class="dropdown-item" href="{% url 'core:dashboard_view' 'last-year'%}">Last year</a>
					</div>
				</div>
			</div>

			<canvas class="my-4 w-100" id="myChart" width="900" height="300"></canvas>

			<h2>Transactions</h2>
			<div class="row">
				<div class="col-xl-10">
					<div class="table-responsive">
						<table class="table table-striped table-sm">
							<thead>
								<tr>
									<th>Date/Time</th>
									<th>Title</th>
									<th>Amount</th>
								</tr>
							</thead>
							<tbody>
								{% for transaction in transactions %}
								<tr>
									<td>{{ transaction.created_at }}</td>
									<td>{{ transaction.title }}</td>
									<td>${{ transaction.total }}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>

					{% if transactions.has_other_pages %}
					<nav aria-label="sort timeframe">
						<ul class="pagination pagination-sm justify-content-center">
							{% if transactions.has_previous %}
								<li class="page-item">
									<a class="page-link" aria-label="Previous" href="?page={{ transactions.previous_page_number }}">
										<span aria-hidden="true">&laquo;</span>
										<span class="sr-only">Previous</span>
									</a>
								</li>
							{% else %}
								<li class="page-item disabled">
									<a class="page-link" aria-label="Previous" href="#">
										<span aria-hidden="true">&laquo;</span>
										<span class="sr-only">Previous</span>
									</a>
								</li>
							{% endif %} 
							{% for i in transactions.paginator.page_range %} 
								{% if transactions.number == i %}
									<li class="page-item active">
											<a class="page-link" href="?page={{ i }}">{{ i }}
												<span class="sr-only">(current)</span>
											</a>
									</li>
								{% else %}
									<li class="page-item">
										<a class="page-link" href="?page={{ i }}">{{ i }}</a>
									</li>
								{% endif %} 
							{% endfor %} 
							{% if transactions.has_next %}
								<li class="page-item">
									<a class ="page-link" aria-label="Next" href="?page={{ transactions.next_page_number }}">
										<span aria-hidden="true">&raquo;</span>
										<span class="sr-only">Next</span>
									</a>
								</li>
							{% else %}
								<li class="page-item disabled">
									<a class="page-link" aria-label="Next" href="#">
										<span aria-hidden="true">&raquo;</span>
										<span class="sr-only">Next</span>
									</a>
								</li>
							{% endif %}
						</ul>
					</nav>	
					{% endif %}
				</div>
				<div class="col-xl-2 col-lg-12">
					<div class="card border-success mb-3">
						<div class="card-header text-center">Total of this timeframe</div>
						<div class="card-body text-success">
							<h5 class="card-title text-center">${{total}}</h5>
							<p class="card-text text-center">
								<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
									Delete History
								</button>
							</p>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Delete History</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				Do you really want to delete all transactions?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
				<a href="{% url 'core:delete_history' %}" class="btn btn-danger">Delete</a>
			</div>
		</div>
	</div>
</div>

<!-- Graphs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
	feather.replace()
</script>
<script>
    var ctx = document.getElementById("myChart").getContext('2d');
    var xAxis = {{ json_graph_xAxis|safe }};
    var columnTotal = {{ json_graph_column_total|safe }};
    
    // creates color gradient between two colors with a given number of steps
    var interpolateColors = function(color1, color2, steps)
    {
        var stepFactor = 1/(steps-1), colorArray = [];
        
        color1 = color1.match(/\d+/g).map(Number);
        color2 = color2.match(/\d+/g).map(Number);
        for(var i = 0; i < steps; i++) 
        {
            colorArray.push(interpolateColor(color1, color2, stepFactor * i));
        }
        return colorArray;
    }
    // returns a single set of RGB values for an interpolated color
    var interpolateColor = function(color1, color2, factor) {
    
        if (arguments.length < 3) { 
            factor = 0.5; 
        }
        var result = color1.slice();
        for (var i = 0; i < 3; i++) {
            result[i] = Math.round(result[i] + factor * (color2[i] - color1[i]));
        }
        return "rgb("+result[0]+","+result[1]+","+result[2]+")";
    };
    
    var myChart = new Chart(ctx, {
		type: 'bar',
		data: {
			labels: xAxis,
			datasets: [{
				label: 'Total',
				data: columnTotal,
				backgroundColor: interpolateColors("rgb(173, 204, 255)","rgb(132, 141, 155))",columnTotal.length),
				// One color
				// backgroundColor: ['rgba(255, 206, 86, 0.2)', columnTotal.length],
				// borderColor: ['rgba(255, 206, 86, 1)', columnTotal.length],
				borderWidth: 1
			}]
		},
		options: {
			scales: {
				xAxes: [{
					stacked: true,
				}],
				yAxes: [{
					stacked: true,
					ticks: {
						beginAtZero: true,
					}
				}]
			},
		},
		tooltips: {
			callbacks: {
				title: function(tooltipItems, data) {
					return xAxis[tooltipItems[0]["index"]]
				},
				label: function(tooltipItems, data) {
					var label = data.datasets[tooltipItem.datasetIndex].label || '';
					if (label) {
						label += ': ';
					}
					label += Math.round(tooltipItem.yLabel * 100) / 100;
					return label
				}
			}
		}
	});
</script>
{% endif %}
{% endblock %}
